.cta {
  background-color: #cde9f4;
  transform: scale(1);
  transition: transform 0.5s ease;
  padding: 3em;
  text-align: center;
  text-transform: uppercase;
}

.cta--simple {
  background-color: aquamarine;
}

.cta--large {
  background-color: pink;
  padding: 1em;
}
